<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${person.getName()}"></p>
<p th:text="${person.getLastname()}"></p>
<p th:text="${person.getAge()}"></p>
<form th:action="@{/delete}" th:method="DELETE">
    <input type="hidden" name="id" th:value="${person.getId()}">
    <button type="submit">DELETE</button>
</form>
<br>
<form th:action="@{/edit}" th:method="GET">
    <input type="hidden" name="id" th:value="${person.getId()}">
    <button type="submit">EDIT USER</button>
</form>
<br>
<form th:action="@{/}" th:method="GET">
    <button type="submit">ALL USERS</button>
</form>
</body>
</html>